{% include 'header.html' %}
<div class="row">
	<div class="col-md-8">
		{{ messages() }}	
		{% for article in articles %}
			<div class="post">
				<div class="date">
					<p>Published: {{ article.created_at }}</p>
				</div>
				<h1><a href="/article/view/{{ article._id }}">{{ article.title }}</a></h1>
				<p>{{ article.body }}</p>
				<a href="/article/edit/{{ article._id }}" class="btn btn-primary">Edit Article</a>
				<a href="/article/delete/{{ article._id }}" class="btn btn-danger">Delete Article</a>
			</div>
		{% endfor %}
	</div>
</div>
{% include 'footer.html' %}